
@font-face {
  font-family: "Karla-Regular";
  src: url("./fonts/Karla-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Italic";
  src: url("./fonts/Karla-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Bold";
  src: url("./fonts/Karla-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-BoldItalic";
  src: url("./fonts/Karla-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico.ttf") format("truetype");
}

@media screen and (min-width:600px) {
  
  .container {
    display: flex;
  }
  
  article {
  width: 58.33%
  }
  
  aside {
  width: 37.5%;
  }
}

@media screen and (min-width:1140px) {
  .container {
    max-width: 3840px;
    display: flex;
   }
  
  
  article {
  width: 98%
  }
  
  aside {
  width: 98%;
  }  
}
  p {
  font-size: 16px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-box {
  padding: 10px; 
  background-color: black; 
  border: black 2px solid;
  width: fit-content;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

topRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  color: white;
  text-align: center;
  background-image: url('./images/kayak-bkgd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 3840px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

headings {
  color:#646464;
  font-family: Pacifico, Arial;
}

body {
  font-size: 16px;
  color: #2d2d2d;
  font-family: Karla-Regular, Arial;
}

button {
  background-color: #e2574c;
  border-radius: 12px;
  font-size: 16px;
  color: white;
}


button:hover {
  background-color:#b64036;
}

h1{
  font-size: 40px;
  font-family: Pacifico, Arial;
}
h2 {
  font-size: 20px;
  font-family: Pacifico, Arial;
}

h3 {
  font-size: 18px;
  
}

section {
  text-align: center;
  align-items: 
}



article {
  text-align: left;
  justify-content: space-between;
}

footer {
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

table#prices {
  width: 50%;  
}

table#prices tr:nth-child(1) {
  background-color: #e6e6e6
}

}
}

info {
  padding-left: 44px;
  align-content: center;
}

socials {
  padding-right: 44px;
  align-content: center;
  color: white;
}


.images {
  justify-content: space-between;
  flex: 0 1 32%;
}

.location { 
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
}

