
@font-face {
  font-family: "Karla-Regular";
  src: url("./fonts/Karla-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Italic";
  src: url("./fonts/Karla-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Bold";
  src: url("./fonts/Karla-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-BoldItalic";
  src: url("./fonts/Karla-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico.ttf") format("truetype");
}

#main[tabindex="-1"]:focus {
   outline: 0;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
}
@media screen and (min-width:600px) {
  
  /*<i class="fa fa-bars" aria-hidden="true"></i>*/
  
  article {
  width: 58.33%
  }

  aside {
  width: 37.5%;
  }
}

@media screen and (min-width:1140px) {
  
  .container {
    max-width: 1920px;
    display: flex;
   }
  
  
  article {
  width: 98%
  }
  
  aside {
  width: 98%;
  }  
}
  p {
  font-size: 16px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-box {
  padding: 10px; 
  background-color: black; 
  border: black 2px solid;
  width: fit-content;
}

.logo {
  max-width: 180px;
  max-height: auto;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

topRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header {
  color: white;
  text-align: center;
  background-image: url('./images/kayak-bkgd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
 
}

headings {
  color:#646464;
  font-family: Pacifico, Arial;
}

body {
  font-size: 16px;
  color: #2d2d2d;
  font-family: Karla-Regular, Arial;
}

button {
  background-color: #e2574c;
  border-radius: 12px;
  font-size: 16px;
  color: white;
  transition: all 0.1s ease 0.1s;
}


button:hover {
  background-color:#b64036;
}

h1{
  font-size: 40px;
  font-family: Pacifico, Arial;
}
h2 {
  font-size: 20px;
  font-family: Pacifico, Arial;
}

h3 {
  font-size: 18px;
  
}

section {
  text-align: center;
  align-items: center;
  justify-content: center;
}



article {
  text-align: left;
  justify-content: space-between;
}

footer {
  background-color: black;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

table#pricesT {
  width: 30%;  
  align-self: flex-end;
}

table#pricesT tr:nth-child(1) {
  background-color: #e6e6e6
}

}
}

info {
  padding-left: 44px;
  align-content: center;
}

ul {
  list-style-type: none;
}
socials {
  padding-right: 44px;
  align-content: center;
  color: white;
}


.images {
  justify-content: space-between;
  flex: 0 1 32%;
}

img {
  width: 100%;
  height: auto;
  max-width: 480px;
  max-height: 320px;
}



.prices {
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: row;
}
.location { 
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
}

